{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/modal.css' %}">

<div class="container mt-4">
    <h2>Home Page</h2> <br />
    <form method="get" action="{% url 'home' %}" class="mb-4">
        {% csrf_token %}
        {{ search_filter.form.as_p }}
        <button type="submit" class="btn btn-outline-dark">Filter</button>
    </form>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for image in images %}
            <!-- Image card -->
            {% include 'image_card.html' %}

            <!-- Modals -->
            {% include 'modal.html' %}
        {% endfor %}
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script src="{% static 'javascript/home.js' %}"></script>

<script>
function ShareURL(id) {
    var url = 'https://albumapp-production.up.railway.app/' + 'image_details/' + id
    navigator.clipboard.writeText(url);
    setTimeout(SuccessMessage, 300)
}
function SuccessMessage(){
    alert("Copied URL")
}

</script>

{% endblock %}
