{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div>
        <form method="get">
            {{ search_filter.form.as_p }}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
        <br />
      <div class="image-section row row-cols-1 row-cols-md-3 g-3">
        {% for image in images %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ image.image.url }}" class="img-fluid" alt="Responsive image">
            <div class="card-body">
                <i>{{ image.name }}</i>
                <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <p>
                        Categories:
                        {% for cat in image.category.all %}
                        {{ cat }}
                        {% endfor %}
                    </p>
                  <a href="{% url 'delete_image' image.id %}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Delete Image</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


</div>
{% endblock %}
