{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
        <h1 class="text-center mb-4">User Profile</h1>
        <div class="container mt-4 mb-4">
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>

            <div class="mt-4">
                <a href="{% url 'update_username' %}" class="btn btn-outline-dark">Change Username</a>
                <a href="{% url 'update_email' %}" class="btn btn-outline-dark">Change Email</a>
                <a href="{% url 'change_password' %}" class="btn btn-outline-dark">Change Password</a>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-2">
            {% for image in images %}
                <div class="col mb-4">
                    <div class="card h-100">
                        <div class="overflow-hidden" style="max-height: 300px;">
                            <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.name }}"
                                 data-bs-toggle="modal" data-bs-target="#imageModal{{ forloop.counter }}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ image.name }}</h5>
                            <p class="card-text">
                                Categories:
                                {% for category in image.category.all %}
                                    {{ category }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Modals -->
                <div class="modal fade" id="imageModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="imageModalLabel">{{ image.name }} - Full Scale</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.name }}">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
</div>

{% endblock %}
