<div class="col mb-4">
    <div class="card h-100">
        <div class="overflow-hidden" style="max-height: 300px;">
            <img src="{{ image.image.url }}" class="card-img-top" alt="{{ image.name }}"
                 data-bs-toggle="modal" data-bs-target="#imageModal{{ forloop.counter }}">
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ image.name }}</h5>
            <p class="card-text">
                Categories:
                {% for category in image.category.all %}
                    {{ category }}
                {% endfor %}
            </p>
            <button type="button" onclick="ShareURL({{ image.id }});" class="btn btn-outline-dark">Share</button>
        </div>
    </div>
</div>