{% load crispy_forms_tags %}
{% load static %}

<div class="modal fade" id="imageModal{{ forloop.counter }}" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">{{ image.name }} - Full Scale</h5>
                <button type="button" onclick="ShareURL({{ image.id }});" class="btn btn-outline-dark">Share</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <img src="{{ image.image.url }}" class="img-fluid" alt="{{ image.name }}">
                    </div>
                    <div class="col-md-4">
                        {% if user.is_authenticated %}
                            <form class="comment-form" data-section-id="{{ image.id }}" method="post" action="{% url 'add_comment' image.id %}">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-outline-dark">Add Comment</button>
                            </form>
                        {% endif %}
                        <h6>Comments:</h6>
                        <div id="comments-section-{{ image.id }}" class="comments-section">
                            {% for comment in image.comments.all %}
                                <div id="comment-{{ comment.id }}" class="comment">
                                    <span class="comment-author">{{ comment.author.username }}</span>
                                    <p class="comment-body">{{ comment.body }}</p>
                                    {% if user == comment.author %}
                                        <form class="delete-comment-form" action="{% url 'delete_comment' comment.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm delete-comment">Delete</button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

